<?xml version="1.0" encoding="UTF-8"?>
<!-- used by jetty -->
<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[%level] %logger{36} - %msg%n%ex{20}</pattern>
    </encoder>
  </appender>

  <logger name="net.liftweb.util.TimeHelpers" level="warn" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
